.selectWrapper::after {
    content: "";
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    display: block;
    pointer-events: none;
    background: url("chevron-down.svg");
    width: 20px;
    height: 20px;
}

.selectWrapper {
    position: relative;
    width: max-content;

}

.select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 180px;
    background: transparent;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    outline: none;
    padding: 10px 35px 10px 15px;
    cursor: pointer;


}

